.wrapper {
  display: flex;
}
.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #000;
  border-right: none;
  width: 502px;
}

.search-btn {
  border-radius: 0px 8px 8px 0px;
  height: 100%;
  border: 1px solid #000;

  cursor: pointer;
  height: 100%;
  background-color: white;
}
