@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #34c94b;
  --black-color: #121212;
  --white-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var(--black-color);
  font-family: "Poppins", sans-serif;
}
